<mat-form-field class="search-field">
  <mat-label>Search customer...</mat-label>
  <input matInput #inputPar (keyup)="searchCustomer(inputPar.value)" type="text">
</mat-form-field>
<div class="main-content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Customer name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state.name}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.city.zipcode}} {{element.city.city}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" class="actions-field">
        <button mat-raised-button color="primary" class="edit-button" (click)="openEditCustomerDialog(element)">Edit</button>
        <button mat-raised-button color="primary" class="delete-button" (click)="openDeleteProductDialog(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" class="paginator"></mat-paginator>
  <button class="color-secondary add-btn" mat-fab matTooltip="Add customer" (click)="openCreateCustomerDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="dataSource.filteredData.length == 0" class="no-data">Customer not found</div>
</div>
