table {
  width: 30%;
  margin: 0 auto 0;
}

td {
  padding: 0 !important;
  text-align: center !important;
  width: 10%;
}

th {
  text-align: center !important;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #16446c;
}

tr:hover {
  background-color: rgba(22, 69, 109, 0.2);
  transition: .3s;
}

.delete-button {
  background-color: transparent;
  color: black;
}

.edit-button {
  background-color: transparent;
  color: black;
}

.delete-button:hover {
  color: white;
  background-color: red;
}

.edit-button:hover {
  color: white;
  background-color: green;
}

.actions-field {
  width: 15%;
}

.actions-field button {
  margin-right: 5px;
}

.paginator {
  width: 29.99%;
  margin-left: 35.05%;
}

.add-btn {
  margin-left: 60%;
  margin-top: 20px;
  outline: none;
  background-color: #16456d;
}

.add-btn:hover {
  background-color: #226dac !important;
  transition: 250ms;
}

.search-field{
  margin-top: 50px;
  margin-left: 40%;
  width: 20%;
}

.search-field mat-label{
  font-weight: 500;
  color: #16446c;
}

.no-data{
  margin-left: 47%;
}
