<mat-form-field class="search-field">
  <mat-label>Search currency...</mat-label>
  <input matInput #inputPar (keyup)="searchCurrency(inputPar.value)" type="text">
</mat-form-field>
<div class="main-content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency</th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element" class="actions-field">
        <button mat-raised-button color="primary" class="edit-button" (click)="openEditCurrencyDialog(element)">Edit
        </button>
        <button mat-raised-button color="primary" class="delete-button" (click)="openDeleteProductDialog(element.id)">
          Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button class="color-secondary add-btn" mat-fab matTooltip="Add currency" (click)="openCreateCurrencyDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="dataSource.filteredData.length == 0" class="no-data">Currency not found</div>
</div>
