<mat-form-field class="search-field">
  <mat-label>Search employee...</mat-label>
  <input matInput #inputPar (keyup)="searchEmployee(inputPar.value)" type="text">
</mat-form-field>
<div class="main-content">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef> Bank </th>
      <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
    </ng-container>

    <ng-container matColumnDef="bankAccount">
      <th mat-header-cell *matHeaderCellDef> Bank account </th>
      <td mat-cell *matCellDef="let element"> {{element.bankAccount}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="employmentPeriod">
      <th mat-header-cell *matHeaderCellDef> Employment period </th>
      <td mat-cell *matCellDef="let element"> {{element.employmentStartDate}} - {{element?.employmentEndDate}}</td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" class="actions-field">
        <button mat-raised-button color="primary" class="edit-button" (click)="openEditEmployeeDialog(element)">Edit</button>
        <button mat-raised-button color="primary" class="delete-button" (click)="openDeleteEmployeeDialog(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 25, 100]" class="paginator"></mat-paginator>
  <button class="color-secondary add-btn" mat-fab matTooltip="Add employee" (click)="openCreateEmployeeDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="dataSource.filteredData.length == 0" class="no-data">Employee not found</div>
</div>
