.main-content {
  background-color: #0b2236;
  height: 100%;
  width: 100%;
}

.login {
  background-color: #0b2236;
  text-align: center;
  margin: 0 auto;
  width: 25%;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 30%;
  left: 35%;
  border: 2px solid #16446c;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 10px 11px rgba(22, 69, 109, 1);
  box-shadow: 0px 4px 10px 11px rgb(14, 43, 68);
}

.username {
  width: 60%;
  color: white;
}

.password {
  width: 60%;
}

.login mat-label {
  color: white;
}

.login-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40%;
  background-color: #0f2f4b !important;
  min-width: 120px;
  width: 120px;

}

.login-btn:hover {
  background-color: transparent !important;
}

.login-btn span {
  vertical-align: middle;
}

#mat-input-1 {
  color: white;
}

::ng-deep .mat-form-field-underline {
  background-color: #ffffff !important;
}

.material-icons {
  margin-left: 5px;
}

.title {
  margin-top: 20px;
}

.title h1 {
  color: white;
  font-size: 2.5rem;
}

.logo {
  margin-top: 20px;
}


