<div class="invoice-details">
  <div class="main-content">
    <div class="title">
      <h3>New Invoice</h3>
      <div class="add-invoice">
        <button mat-raised-button (click)="createNewInvoice()">Create new invoice<span class="material-icons">add</span></button>
      </div>
    </div>

    <form [formGroup]="form">

      <mat-form-field class="example-full-width">
        <mat-label>Invoice number</mat-label>
        <input formControlName="number" matInput type="text">
      </mat-form-field>

      <mat-form-field tabindex="2" class="date-picker">
        <input [matDatepicker]="picker1" formControlName="date" matInput placeholder="Invoice date">
        <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker1>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customer">
          <mat-option *ngFor="let customer of customers" [value]="customer">
            {{customer.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Transport terms</mat-label>
        <mat-select formControlName="transportTerm">
          <mat-option *ngFor="let transportTerm of transportTerms" [value]="transportTerm">
            {{transportTerm.term}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{currency.currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Payment conditions</mat-label>
        <input formControlName="paymentConditions" matInput type="text">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Stamp and signature</mat-label>
        <mat-select formControlName="employee">
          <mat-option *ngFor="let employee of employees" [value]="employee">
            {{employee.firstName}} {{employee.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Total boxes</mat-label>
        <input formControlName="totalBoxes" matInput type="number">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Gross Weight</mat-label>
        <input formControlName="grossWeight" matInput type="number">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Net Weight</mat-label>
        <input formControlName="netWeight" matInput type="number">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Shipping Fees</mat-label>
        <input formControlName="shippingFees" matInput type="number">
      </mat-form-field>

      <button mat-raised-button (click)="saveInvoiceDetails()">Save Invoice Details<span class="material-icons">done</span></button>

    </form>
  </div>

</div>
<div *ngFor="let input of invoiceInputs; let i = index">
  <mat-list>
    <mat-list-item>
      <app-new-invoice-fields (method)="checkForm()" [itemNo]="i+1"></app-new-invoice-fields>
    </mat-list-item>
  </mat-list>
</div>

