::ng-deep .mat-drawer-inner-container {
  background-color: #16456d;
}

::ng-deep mat-drawer-content {
  height: 100vh !important;
}

::ng-deep .menu-list {
  text-align: left;
  height: 100%;
}

::ng-deep .menu-list {
  text-align: left;
  height: 100%;
}

::ng-deep .menu-list .menu-list-item {
  color: white !important;
  cursor: pointer;
  font-size: 20px !important;

}

::ng-deep .menu-list .menu-list-item:hover {
  background-color: #0c263d;
  transition: background-color 150ms linear;
}

::ng-deep mat-drawer .mat-drawer-inner-container {
  overflow-y: hidden !important;
  text-align: center;
  user-select: none;
}

.logo {
  margin-top: 1em;
  width: 75%;
  cursor: pointer;
}

::ng-deep .menu-list .menu-list-item.logout {
  position: absolute;
  bottom: 0;
}

::ng-deep ::selection {
  color: white;
  /*background: #34be5b;*/
  background: #16446c;
}

@media only screen and (max-width: 1674px) {
  ::ng-deep table {
    margin: 0 auto;
    width: 80% !important;
  }

  ::ng-deep mat-paginator {
    width: 79.99% !important;
    margin-left: 10.01% !important;
  }

  ::ng-deep app-new-invoice-fields {
    display: block !important;
    font-size: 15px;

  }

  ::ng-deep .flex-container .description-field mat-form-field {
    width: 200px !important;
    margin-right: 5px;
  }

  ::ng-deep app-new-invoice-fields mat-form-field {
    width: 130px !important;
  }

  ::ng-deep .main-content {
    margin-right: 10% !important;
    margin-left: 10% !important;
  }

  ::ng-deep .main-content table {
    width: 100% !important;
  }


}

@media only screen and (max-width: 1560px) {

  ::ng-deep app-new-invoice-fields {
    display: block !important;
    font-size: 15px;
  }

  ::ng-deep .flex-container .description-field mat-form-field {
    width: 150px !important;
    margin-right: 5px;
  }

  ::ng-deep app-new-invoice-fields mat-form-field {
    width: 120px !important;
  }
}

@media only screen and (max-width: 1430px) {

  ::ng-deep app-new-invoice-fields {
    display: block !important;
    font-size: 15px;
  }

  ::ng-deep .flex-container .description-field mat-form-field {
    width: 120px !important;
    margin-right: 5px;
  }

  ::ng-deep app-new-invoice-fields mat-form-field {
    width: 100px !important;
  }
}

/*@media only screen and (min-width: 1495px) {*/
/*  ::ng-deep table {*/
/*    margin: 0 auto;*/
/*    width: 80% !important;*/
/*  }*/

/*  ::ng-deep mat-paginator{*/
/*    width: 79.99% !important;*/
/*    margin-left: 10.01% !important;*/
/*  }*/

/*  ::ng-deep app-new-invoice-fields {*/
/*    display: none;*/
/*  }*/
/*}*/
