.main-content {
  width: 70%;
  margin: 2% 22% 0 auto;
}

.title-content {
  margin-left: 43%;
  margin-top: 40px;
}

.title-content h1 {
  color: #16446c;
}

.search-invoice {
  margin-left: 41.5%;
  width: 300px;
}

.search-field {
  width: 300px;
}

table {
  width: 100%;
  margin: 0 auto 1%;
}

td {
  padding: 0 !important;
  text-align: center !important;
  width: 10%;
}

th {
  text-align: center !important;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #16446c;
}

tr {
  height: 30% !important;
}

tr:hover {
  background-color: rgba(22, 69, 109, 0.2);
  transition: .3s;
}

.delete-button {
  background-color: transparent;
  color: black;
  font-size: 30px;
}

.edit-button {
  background-color: transparent;
  color: black;
  font-size: 30px;

}

.delete-button:hover {
  color: red;
  cursor: pointer;
}

.edit-button:hover {
  color: green;
  cursor: pointer;
}

.actions-field {
  width: 15%;
}

.actions-field button {
  margin-right: 5px;
}

.financial-info {
  margin-top: 20px;
  margin-left: 9%;
}

mat-panel-title {
  font-size: 20px;
  font-weight: 500;
}

mat-panel-description {
  width: 100%;
}


.invoice-date {
  font-weight: 500;
  width: 100%;
}

.weight {
  margin-top: 20px;
}

.stamp-signature {
  float: right;
}

.print-btn {
  float: right;
  margin-top: -200px;
  font-size: 80px;
  margin-right: 200px;
}

.print-btn:hover {
  color: #16446c;
  cursor: pointer;
  transition: .2s;

}

.edit-btn {
  float: right;
  margin-top: -200px;
  font-size: 80px;
  margin-right: 100px;
  transition: .2s;
}

.edit-btn:hover {
  color: #16446c;
  cursor: pointer;
}

.flex-container {
  display: flex;
}

.items-box {
  margin-top: 20px;
  margin-left: 16%;
  width: 50%;
}

.textarea-field {
  width: 600px;
}

.new-invoice-btn {
  margin-left: 46%;
}

.new-invoice-btn button:hover {
  background-color: #16446c;
  color: white;
  transition: .5s;
}

mat-expansion-panel {
  margin-bottom: 2px;
}

.total-boxes {
  width: 100%;
}

.total-price {
  width: 100%;
}

.edit-product-invoices {
  font-size: 40px;
}

.edit-product-invoices:hover {
  color: #16446c;
  cursor: pointer;
}

.mat-column-description{
  width: 300px;
}

.invoice-total{
  color: #03ac03;
  font-weight: 800;
}

mat-expansion-panel{
  width: 120%;
}

.items-info-btn:hover{
  background-color: #16446c;
  color: white;
  transition: .5s;
}

