.edit-btn {
  font-size: 80px;
  transition: .2s;
  margin-right: 50px;
}

.edit-btn:hover {
  color: #16446c;
  cursor: pointer;
}

.print-options {
  margin: auto auto auto 50px;
}

.print-title {
  margin-left: 30%;
}
