<div class="flex-container">
  <form [formGroup]="form">
    <div class="itemNo-field">
      <mat-form-field class="example-full-width" tabindex="2">
        <mat-label>Item No.</mat-label>
        <input formControlName="itemNo" matInput type="number" (keydown.enter)="handleEnter('itemNoRef')" #itemNoRef>
      </mat-form-field>
    </div>

    <div class="code-field">
      <mat-form-field class="example-full-width" tabindex="2">
        <mat-label>Code</mat-label>
        <input formControlName="code" matInput type="text"
               (keydown.enter)="handleEnter('codeRef')" #codeRef (change)="fillOtherFieldsByCode()">
      </mat-form-field>
    </div>

    <div class="description-field">
      <mat-form-field class="example-full-width" tabindex="2">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput type="text" (keydown.enter)="handleEnter('descriptionRef')" #descriptionRef>
      </mat-form-field>
    </div>

    <div class="quantity-field">
      <mat-form-field class="example-full-width" tabindex="2">
        <mat-label>Quantity</mat-label>
        <input formControlName="quantity" matInput type="number" (keydown.enter)="handleEnter('quantityRef')" #quantityRef>
      </mat-form-field>
    </div>

    <div class="unit-price-field">
      <mat-form-field class="example-full-width" tabindex="2">
        <mat-label>Unit price</mat-label>
        <input formControlName="unitPrice" matInput type="number" (keydown.enter)="handleEnter('unitPriceRef')" #unitPriceRef>
      </mat-form-field>
    </div>

    <div class="total-price-field">
      <mat-form-field class="example-full-width" tabindex="2">
        <mat-label>Total price</mat-label>
        <input formControlName="totalPrice" matInput type="number" (keyup.enter)="checkForm()" #totalPriceRef (focusout)="saveProductInvoice()">
      </mat-form-field>
    </div>
  </form>
</div>
