mat-form-field {
  width: 350px;
}

.main-content {
  margin: 0 auto;
  text-align: center;
}

.edit-invoice {
  background-color: #16456d;
}

.edit-invoice:hover {
  background-color: #226dac !important;
  transition: 250ms;
}

.unit-price {
  width: 350px;
}

.description-field{
  width: 350px;
}
