<div class="main-content">
  <div class="invoice-number">
    <h3>Edit invoice details</h3>
  </div>
  <form [formGroup]="form">

    <mat-form-field tabindex="2" class="date-picker">
      <input [matDatepicker]="picker1" formControlName="date" matInput placeholder="Invoice date">
      <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker1>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field tabindex="2" class="date-picker">
      <input [matDatepicker]="picker2" formControlName="deliveryDate" matInput placeholder="Delivery date">
      <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker2>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Invoice number</mat-label>
      <input formControlName="number" matInput type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Customer</mat-label>
      <mat-select formControlName="customer" [compareWith]="compareCustomer">
        <mat-option *ngFor="let customer of customers" [value]="customer">
          {{customer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Transport terms</mat-label>
      <mat-select formControlName="transportTerm" [compareWith]="compareTransportTerm">
        <mat-option *ngFor="let transportTerm of transportTerms" [value]="transportTerm">
          {{transportTerm.term}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency" [compareWith]="compareCurrency">
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{currency.currency}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Payment conditions</mat-label>
      <input formControlName="paymentConditions" matInput type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Stamp and signature</mat-label>
      <mat-select formControlName="employee" [compareWith]="compareEmployee">
        <mat-option *ngFor="let employee of employees" [value]="employee">
          {{employee.firstName}} {{employee.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Total boxes</mat-label>
      <input formControlName="totalBoxes" matInput type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Gross Weight</mat-label>
      <input formControlName="grossWeight" matInput type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Shipping Fees</mat-label>
      <input formControlName="shippingFees" matInput type="number">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Remarks</mat-label>
      <input formControlName="remarks" matInput type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width attn-info">
      <mat-label>Attn</mat-label>
      <input formControlName="attn" matInput type="text">
    </mat-form-field>

    <mat-form-field class="example-full-width itemsInfo">
      <mat-label>Items info</mat-label>
      <textarea formControlName="itemsInfo" rows="5" matInput></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width itemsInfo">
      <mat-label>Boxes info</mat-label>
      <textarea formControlName="boxesInfo" rows="5" matInput></textarea>
    </mat-form-field>
    <div>
      <button class="edit-invoice" color="primary" mat-raised-button (click)="editInvoiceDetails()">Save</button>
    </div>
  </form>
</div>
