/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view {
  width: 80%;
  margin: 0 auto;
}

.mat-tooltip {
  font-size: 12px !important;
}

.snackbar-container-error {
  color: firebrick;
  background-color: firebrick;
}

.snackbar-container-error button {
  border: 1px solid firebrick;
  color: firebrick;
}

.mat-snack-bar-container{
  border: 3px solid #16446c;
  color: #16446c;
  background-color: white;
}

.mat-snack-bar-container button{
  border: 1px solid #16446c;
  color: #16446c;
}

::ng-deep::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::ng-deep::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::ng-deep::-webkit-scrollbar-thumb {
  background: #16446c;
  border-radius: 10px;
}

/* Handle on hover */
::ng-deep::-webkit-scrollbar-thumb:hover {
  background: #16446c;
}



