/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.view {
  width: 80%;
  margin: 0 auto;
}

.mat-tooltip {
  font-size: 12px !important;
}

.snackbar-container-error {
  color: firebrick;
  background-color: firebrick;
}

.snackbar-container-error button {
  border: 1px solid firebrick;
  color: firebrick;
}

.mat-snack-bar-container{
  border: 3px solid #16446c;
  color: #16446c;
  background-color: white;
}

.mat-snack-bar-container button{
  border: 1px solid #16446c;
  color: #16446c;
}


