<div class="wrapper">
  <mat-tab-group>
    <mat-tab label="Merchandise">
      <app-floats></app-floats>
    </mat-tab>
    <mat-tab label="Employees">
      <app-employees></app-employees>
    </mat-tab>
    <mat-tab label="Customers">
      <app-customers></app-customers>
    </mat-tab>
    <mat-tab label="States">
      <app-states></app-states>
    </mat-tab>
    <mat-tab label="Cities">
      <app-cities></app-cities>
    </mat-tab>
    <mat-tab label="Transport Terms">
      <app-transport-terms></app-transport-terms>
    </mat-tab>
    <mat-tab label="Currencies">
      <app-currencies></app-currencies>
    </mat-tab>
  </mat-tab-group>
</div>
